<form [formGroup]="frmGreeting">
    <select formControlName="event">
        <option [(ngModel)]="isBirthday" selected="isBirthday"> birthday </option>
        <option> new job </option>
    </select>

    <br>
    <br>

    <input  *ngIf="isBirthday==true" placeholder="age" type="number" formControlName="age" />

     <br>
    <br>

    <input placeholder="name" type="text" formControlName="name" />

    <br>
    <br>

    <select formControlName="typeOfGreet">
        <option> short song </option>
        <option> long song </option>
        <option> short letter </option>
        <option> long letter </option>
    </select>

    <br>
    <br>

    <select formControlName="atmosphere">
        <option> happy </option>
        <option> funny </option>
        <option> exciting </option>
    </select>

    <br> 
    <br> 




</form>